<nav>
<!-- side navigation, w3 -->
<div class="sidenav">
  <a href="../index.html"><img
      class="sidenav-logo"
      src="static/images/logos/main_1_3.png"
      alt="URBANNOTES logo"/></a>
  <a href="library">Library</a>
  <a href="data">Data</a>
  <a href="map">Map</a>
  <a href="articles">Articles</a>
  <a href="more">More</a>
  <hr>
  <a href="blank">New Note</a>

<div class="accountzone">
  <a href="account" class="accountbtn">
    <span class="material-symbols-outlined">account_circle</span>
    <span class="accountname">Click to log in</span>
  </a>
</div>

</div>
</nav>