<nav>
<!-- side navigation, w3 -->
<div class="sidenav">
  <a href="/"><img
      class="sidenav-logo"
      src="static/icons/logo_black.png"
      alt="URBANNOTES logo"/></a>
  <a href="library">Library</a>
  <a href="data">Data</a>
  <a href="map">Map</a>
  <a href="articles">Articles</a>
  <a href="more">More</a>
  <hr>
  <a href="blank">New Note</a>

<div class="accountzone">
  <a href="account" class="accountbtn">
    {% if session.get('user') %}
    <img src="/static/icons/account_in.png">
    <div class="accountname">
    <span class="yes">{{ session.user.name }}</span>
    </div>
    {% else %}
    <img src="/static/icons/account_out.png">
    <div class="accountname">
    <span class="no">Click to login</span>
    </div>
    {% endif %}
  </a>
</div>

</div>
</nav>