<nav>
<!-- side navigation, w3 -->
<div class="sidenav">
  <a href="{{ url_for('home') }}"><img
      class="sidenav-logo"
      src="{{ url_for('static', filename='icons/logo_black.png') }}"
      alt="URBANNOTES logo"/></a>
  <a href="{{ url_for('render_page', page='library') }}">Library</a>
  <a href="{{ url_for('render_page', page='data') }}">Data</a>
  <a href="{{ url_for('render_page', page='map') }}">Map</a>
  <a href="{{ url_for('render_page', page='articles')}}">Articles</a>
  <a href="{{ url_for('render_page', page='about') }}">About</a>
  <hr>
  <a href="{{ url_for('new_note') }}">New Note</a>

<div class="accountzone">
  <a href="{{ url_for('account') }}" class="accountbtn">
    {% if session.get('user') %}
    <img src="{{ url_for('static', filename='icons/account_in.png') }}" alt="No profile picture icon">
    <div class="accountname">
    <span class="yes">{{ session.user.name }}</span>
    </div>
    {% else %}
    <img src="{{ url_for('static', filename='icons/account_out.png') }}" alt="Not logged in icon">
    <div class="accountname">
    <span class="no">Click to login</span>
    </div>
    {% endif %}
  </a>
</div>

</div>
</nav>