{% extends 'layout.html' %} 
{% block head %}
  <title>Create an account - URBANNOTES</title>
{% endblock %}
{% block content %}

<div class="login-logo">
    <img src="{{ url_for('static', filename='icons/full_logo_black.png') }}" alt="URBANNOTES logo" class="login-logo">
</div>

<br><br>
<h1>Create an account</h1>

<div class="login-container">
<form action="{{ url_for('join') }}" method="post">
  <label for="email"><b>Email</b><span class="tooltip-requirement" title="This is a required field">*</span></label>
  <input type="text" placeholder="Enter email" name="email" required>

  <label for="username"><b>Username</b><span class="tooltip-requirement" title="This is a required field">*</span></label>
  <input type="text" placeholder="Enter username" name="username" required>
  
  <label for="password"><b>Password</b><span class="tooltip-requirement" title="This is a required field">*</span></label>
  <input type="password" placeholder="Enter password" name="password" required>
  <text class="anytime">You can update these any time in account settings</text>
  <button class="log-btn login" type="submit">Create account and login</button>  
</form>

</div>
{% endblock %}