<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="manifest" href="static/manifest.json" />
    <link rel="icon" type="image" href="static/images/logos/favicon_1_4.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/animations.js"></script>
</head>

  <div class="popup">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  {% if not hide_search %}
  <div class="topnav">
    <span class="material-symbols-outlined">search</span>
    <div class="searchdivider">-</div>
    <input type="text" placeholder="Search anything..."/>
  </div>
  {% endif %}

  <body>
    <main>
      {% include "partials/menu.html" %} {% block content %}{% endblock %}
    </main>
  </body>
</html>