{% extends 'layout.html' %}
{% block head %}
<title>Login - URBANNOTES</title>
{% endblock %}
{% block content %}
<div class="login-logo">
    <img src="{{ url_for('static', filename='icons/full_logo_black.png') }}" alt="URBANNOTES logo" class="login-logo">
</div>

<form action="{{ url_for('login') }}" method="post">
  <div class="login-container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter email" name="email" required>
    
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" required>
    
    <div class="remember">
      <label><input type="checkbox" name="remember"> Remember me for 30 days</label>
    </div>

    <button class="log-btn login" type="submit">Login</button>
    
    <div class="loginextras">
      <span class="loginextras"><a href="{{ url_for('join') }}">Create an account</a></span>
      <span class="loginextras"><a style="background-color: #ddd; color: #aaa" title="This feature is currently unavailable.">Forgot password?</a></span>
    </div>
  </div>
</form>
{% endblock %}