{% extends 'layout.html' %} {% block content %}
<head>
  <title>Map - URBANNOTES</title>
</head>
<div class="embedmap">
  <body>
    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=149.08996582031253%2C-34.61512668346219%2C152.35839843750003%2C-33.05932046347212&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?#map=9/-33.841/150.724">View Larger Map</a></small>
    <script src="static/js/app.js"></script>
  </body>
</div>
{% endblock %}